<div class="historian-tag-config-panel">
  <ng-container *ngIf="widgetTitlePanel">
    <ng-container *ngTemplateOutlet="widgetTitlePanel"></ng-container>
  </ng-container>

  <div class="config-toolbar">
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Filter tags..." [(ngModel)]="searchText" (ngModelChange)="onSearchChange()">
    </mat-form-field>

    <button mat-icon-button (click)="exportCSV()" title="Export CSV">
      <mat-icon>download</mat-icon>
    </button>

    <button mat-icon-button title="Import CSV" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
    </button>
    <input #fileInput type="file" accept=".csv" hidden (change)="importCSV($event)">

    <button mat-raised-button color="primary"
            [disabled]="getDirtyCount() === 0 || saving"
            (click)="saveAll()">
      Save ({{ getDirtyCount() }})
    </button>
  </div>

  <div class="config-table-container" *ngIf="!loading">
    <table class="config-table" *ngIf="filteredRows.length > 0">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Description</th>
          <th>Units</th>
          <th>Type</th>
          <th>Lo</th>
          <th>Hi</th>
          <th>HH</th>
          <th>H</th>
          <th>L</th>
          <th>LL</th>
          <th>Area</th>
          <th>Equipment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredRows" [class.dirty]="row.dirty">
          <td class="col-key">{{ row.key }}</td>

          <td *ngIf="!row.editing">{{ row.config.description }}</td>
          <td *ngIf="row.editing">
            <input [(ngModel)]="row.config.description" (ngModelChange)="markDirty(row)" class="edit-input">
          </td>

          <td *ngIf="!row.editing">{{ row.config.engUnits }}</td>
          <td *ngIf="row.editing">
            <input [(ngModel)]="row.config.engUnits" (ngModelChange)="markDirty(row)" class="edit-input short">
          </td>

          <td>{{ row.config.dataType }}</td>

          <td *ngIf="!row.editing">{{ row.config.rangeLo }}</td>
          <td *ngIf="row.editing">
            <input type="number" [(ngModel)]="row.config.rangeLo" (ngModelChange)="markDirty(row)" class="edit-input num">
          </td>

          <td *ngIf="!row.editing">{{ row.config.rangeHi }}</td>
          <td *ngIf="row.editing">
            <input type="number" [(ngModel)]="row.config.rangeHi" (ngModelChange)="markDirty(row)" class="edit-input num">
          </td>

          <td *ngIf="!row.editing" class="alarm-hh">{{ row.config.alarmHH }}</td>
          <td *ngIf="row.editing">
            <input type="number" [(ngModel)]="row.config.alarmHH" (ngModelChange)="markDirty(row)" class="edit-input num">
          </td>

          <td *ngIf="!row.editing" class="alarm-h">{{ row.config.alarmH }}</td>
          <td *ngIf="row.editing">
            <input type="number" [(ngModel)]="row.config.alarmH" (ngModelChange)="markDirty(row)" class="edit-input num">
          </td>

          <td *ngIf="!row.editing" class="alarm-l">{{ row.config.alarmL }}</td>
          <td *ngIf="row.editing">
            <input type="number" [(ngModel)]="row.config.alarmL" (ngModelChange)="markDirty(row)" class="edit-input num">
          </td>

          <td *ngIf="!row.editing" class="alarm-ll">{{ row.config.alarmLL }}</td>
          <td *ngIf="row.editing">
            <input type="number" [(ngModel)]="row.config.alarmLL" (ngModelChange)="markDirty(row)" class="edit-input num">
          </td>

          <td>{{ row.config.area }}</td>
          <td>{{ row.config.equipment }}</td>

          <td class="col-actions">
            <button mat-icon-button (click)="toggleEdit(row)" [title]="row.editing ? 'Cancel' : 'Edit'">
              <mat-icon>{{ row.editing ? 'close' : 'edit' }}</mat-icon>
            </button>
            <button *ngIf="row.dirty" mat-icon-button (click)="saveRow(row)" title="Save">
              <mat-icon>save</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="filteredRows.length === 0 && rows.length === 0" class="empty-state">
      <mat-icon>settings</mat-icon>
      <span>No tag configuration found</span>
    </div>
  </div>

  <div *ngIf="loading" class="loading-state">
    <mat-spinner diameter="32"></mat-spinner>
    <span>Loading configuration...</span>
  </div>
</div>
